<script src="/javascripts/ag-grid-enterprise18.1.1.min.js"></script>
<script src="/javascripts/ag-grid_custom_server_side_paging.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/alert.css">
<link rel="stylesheet" type="text/css" href="stylesheets/addWorkerModal.css">
<link rel="stylesheet" type="text/css" href="stylesheets/deleteModal.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap"
	rel="stylesheet">

<style>
	.ag-layout-normal.ag-root-wrapper-body {
		width: auto;
	}

	.ag-theme-balham .ag-cell-label-container {
		height: 100%;
		/* width: max-content; */
	}

	.ag-theme-balham .ag-cell {
		line-height: 26px;
		padding-left: 12px;
		padding-right: 12px;
		border: 1px solid transparent;
		padding-left: 0px;
		padding-right: 11px;
	}

	.ag-theme-balham {
		margin: 0px 40px 10px 5px !important;
	}

	.ag-theme-balham .ag-header-cell,
	.ag-theme-balham .ag-header-group-cell {
		line-height: 20px !important;
	}

	.ag-paging-row-summary-panel,
	.ag-paging-page-summary-panel {
		display: none;
	}

	.ag-theme-balham button[ref="btFirst_custom"] {
		background-color: transparent;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgNEw4IDhsNCA0TTQuNSA0djgiIHN0cm9rZT0iIzdGOEM4RCIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 16px 16px;
		height: 16px;
		opacity: 0.87;
		width: 16px;
		overflow: hidden;
		text-indent: 100%;
		appearance: none;
		border: 0;
		opacity: 0.54;
		padding: 0;
	}

	.ag-theme-balham button[ref="btPrevious_custom"] {
		background-color: transparent;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOSA0TDUgOGw0IDQiIHN0cm9rZT0iIzdGOEM4RCIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 16px 16px;
		height: 16px;
		opacity: 0.87;
		width: 16px;
		overflow: hidden;
		text-indent: 100%;
		appearance: none;
		border: 0;
		opacity: 0.54;
		padding: 0;
	}

	.ag-theme-balham button[ref="btNext_custom"] {
		background-color: transparent;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNiAxMmw0LTQtNC00IiBzdHJva2U9IiM3RjhDOEQiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 16px 16px;
		height: 16px;
		opacity: 0.87;
		width: 16px;
		overflow: hidden;
		text-indent: 100%;
		appearance: none;
		border: 0;
		opacity: 0.54;
		padding: 0;
	}


	.ag-theme-balham button[ref="btLast_custom"] {
		background-color: transparent;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNCAxMmw0LTQtNC00bTcuNSAwdjgiIHN0cm9rZT0iIzdGOEM4RCIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 16px 16px;
		height: 16px;
		opacity: 0.87;
		width: 16px;
		overflow: hidden;
		text-indent: 100%;
		appearance: none;
		border: 0;
		opacity: 0.54;
		padding: 0;
	}

	.ag-theme-balham button[ref="btLast_custom"][disabled] {
		opacity: 0.38;
	}

	.ag-theme-balham button[ref="btLast_custom"][disabled] {
		opacity: 0.38;
	}

	.ag-theme-balham button[ref="btLast_custom"][disabled] {
		opacity: 0.38;
	}

	.ag-theme-balham button[ref="btLast_custom"][disabled] {
		opacity: 0.38;
	}

	.select_for_ag {
		font: 400 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;

		background-color: #f3fcfd !important;
		border: 1px solid #cccccc !important;
		border-radius: 0px !important;
		padding-bottom: 1px !important;
		padding-top: 1px !important;
		color: rgba(0, 0, 0, 0.54);
	}

	.ag-cell-focus {
		background-color: #cce6ff !important;
	}

	/*new added*/
	.ag-header {
		position: inherit;
	}

	.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
		width: 100%;
	}

	.ag-filter {
		position: inherit;
		overflow: hidden;
	}

	h1 {
		text-align: center;
		color: #2d2d2d;
	}



	#addWorkerButton {
		background-color: #2AA7FF;
		border: none;
		color: white;
		padding: 6px 13px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 10px 0px 10px 10px;
		cursor: pointer;
		border-radius: 6px;
	}
</style>
<style>
	/*Form Style*/
	body {
		font-family: Arial, Helvetica, sans-serif;
	}

	* {
		box-sizing: border-box;
	}

	.input-container {
		display: -ms-flexbox;
		/* IE10 */
		display: flex;
		width: 100%;
		margin-bottom: 15px;
	}

	form h2 {
		color: #5b5b5b;
		text-align: center;
	}

	h2 .title {
		color: red;
	}

	form {
		border: 1px solid grey;
		padding: 32px;
	}

	.icon {
		padding: 10px;
		background: dodgerblue;
		color: white;
		min-width: 50px;
		text-align: center;
	}

	.input-field {
		width: 100%;
		padding: 10px;
		outline: none;
	}

	.input-field:focus {
		border: 2px solid dodgerblue;
	}

	/* Set a style for the submit button */


	/* ------------ Tooltip Start-------------- */

	.tooltip_img {
		line-height: 11px;
		height: 110px;
		background: rgb(255 255 255 / 93%);
		width: 300px;
		border-radius: 7px;
		box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.19), 25px 0px 20px -20px rgb(0 0 0 / 27%), 0px 25px 20px -20px rgb(0 0 0 / 22%), -25px 0px 20px -20px rgb(0 0 0 / 22%);
		display: flex;
		margin-left: 130px;
	}

	.logoimage {
		border-radius: 50%;
		z-index: 100;
		margin-top: 18px;
		margin-left: 5px;
		border: 2px solid #dfdfdfde;
	}

	.secondpart {
		padding: 14px 0px 0px 0px;
		font-family: 'Poppins', sans-serif;
		color: grey;
		font-size: 12px;
	}

	.tooltip_img::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 100%;
		margin-top: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent rgb(255, 255, 255) transparent transparent;
	}

	.image_not_present {
		font-weight: 600;
		font-size: 15px;
		padding-top: 6px;
		width: 39px;
		text-align: center;
	}

	.image_not_present_tooltip {
		border-radius: 50%;
		z-index: 100;
		margin-top: 18px;
		margin-left: 5px;
		border: 2px solid #dfdfdfde;
		height: 75px;
		width: 75px;
		font-size: 25px;
		padding-top: 30px;
		text-align: center;
		font-weight: 600;
		color: #787878;
	}

	/* ------------ Tooltip End-------------- */
</style>
<script>
	agGrid.LicenseManager.setLicenseKey(
		'CompanyName=Antuit, Inc.,LicensedGroup=antuit.ai,LicenseType=MultipleApplications,LicensedConcurrentDeveloperCount=5,LicensedProductionInstancesCount=3,AssetReference=AG-010181,ExpiryDate=3_September_2021_[v2]_MTYzMDYyMzYwMDAwMA==ecfcddcc95aac3c2cd19cab7039cdcb5'
	);
</script>

<script>
	function createNewDatasource() {
		$('#loader').removeClass('display-none')

		$.ajax({
			type: "get",
			url: "/all_user",
			/*data: global_grid_query_str+"&limit="+limit,*/
			success: function (msg) {
				var grid_data = msg;
				var rowsThisPage = grid_data["data"];
				total_aggrid_rows = parseInt(grid_data["total"]);
				document.getElementById('totalworker').innerHTML = `Total workers: ${total_aggrid_rows}`;
				gridOptions.api.setRowData(rowsThisPage);
				enableDisableButtons("enable");
				$('#loader').addClass('display-none')

			}
		});

	}

	var columnDefs = [

		{
			headerName: "", field: "image", minWidth: 150,
			width: 100, cellRenderer: ImageCellRenderer, cellStyle: { 'border': '1px solid grey', 'border-radius': '50%', 'height': '40px', 'width': '40px', 'left': '20px', 'top': '10', }
		},
		{ headerName: "Name", field: "first_name&name", valueGetter: fullNameGetter, cellStyle: { 'font-weight': 'bold', 'color': '#666666', 'padding-top': '15px', 'font-size': '15px', cellStyle: { 'padding-top': '15px', 'color': '#686868' } } },
		{ headerName: "Email", field: "email", cellStyle: { 'padding-top': '15px', 'color': '#686868' } },
		{ headerName: "Entreprise", field: "entreprise", cellStyle: { 'padding-top': '15px', 'color': '#686868' } },
		{ headerName: "Department", field: "department", cellStyle: { 'padding-top': '15px', 'color': '#686868' } },
		{ headerName: "Team", field: "team", cellStyle: { 'padding-top': '15px', 'color': '#686868' } },
		{ headerName: "Designation", field: "designation", cellStyle: { 'padding-top': '15px', 'color': '#686868' } },
		{ headerName: "Gsm", field: "phone_number", cellStyle: { 'padding-top': '15px', 'color': '#686868' } },
		{ headerName: "Edit", field: "id", cellRenderer: EditFieldRender, cellStyle: { 'padding-top': '15px', 'color': '#686868' } },
		{ headerName: "Delete", field: "id", cellRenderer: DeleteFieldRender, cellStyle: { 'padding-top': '15px', 'color': '#686868' } }
	];

	function fullNameGetter(params) {
		// console.log(params.data)
		return params.data.first_name + ' ' + params.data.name;
	}



	function ImageCellRenderer(params) {
		// console.log("============image==========>", params.data)
		if (params.value == "" || params.value == null) {
			// var src = '<img src="' + "https://static.thenounproject.com/png/2870772-200.png" + '" width="40" height="40">';
			var src = `<span class="product_image"><div class="image_not_present">${params.data.first_name.charAt(0) + params.data.name.charAt(0)}</div></span>`;
			var src_tooltip = `<div><span class="product_image"><div class="image_not_present_tooltip">${params.data.first_name.charAt(0) + params.data.name.charAt(0)}</div></span></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="secondpart"><p style="font-weight:bold;">${params.data.first_name + " " + params.data.name}</p><p>${params.data.email}</p><p>${params.data.designation}</p> <p>${params.data.department}</p></div> `
		} else {
			var src = `<img src= ${params.value} width='40' height='40'>`
			var src_tooltip = `<div><img class="logoimage" src=${params.value} width="75" height="75" ></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="secondpart"><p style="font-weight:bold;">${params.data.first_name + " " + params.data.name}</p><p>${params.data.email}</p><p>${params.data.designation}</p> <p>${params.data.department}</p></div> `
		}
		// Create the image element
		var tooltip = document.createElement('div');
		tooltip.classList.add("tooltip_img")
		tooltip.innerHTML = src_tooltip;

		// Add a mouseover event listener to the cell element
		var cell = document.createElement('div');
		cell.innerHTML = src
		cell.addEventListener('mouseover', function (e) {

			var rect = cell.getBoundingClientRect();
			var y = rect.top - 30;
			tooltip.style.position = "absolute";
			tooltip.style.top = y + "px";
			document.body.appendChild(tooltip);
		});

		cell.addEventListener('mouseout', function () {
			// Hide the tooltip when the mouse leaves the cell
			document.body.removeChild(tooltip);
		});

		return cell;
	}


	function handleClickEdit(userID) {
		$.ajax({
			type: "get",
			url: '/user_details',
			data: { id: userID },
			success: function (msg) {
				data = msg
				if (data.data) {
					editValueSet(data.data);
				}
			}
		});
	}

	var createFormData = { "id": 0, "name": "", "first_name": "", "email": "", "phone_number": "", "department": "", "entreprise": "", "team": "", "designation": "", "date_of_joining": "", "image": "", "end_contract_date": "", "type_of_contract": "", "end_contract_date": "", "type_of_worker": "", "working_time": "", "role": "", "cl": "", "sl": "" }

	var formData= new FormData();

	var deleteId = 0;
	function handleClickDelete(id) {
		deleteId = id;
		$('#modal-container-delete').fadeIn();
	}




	var gridOptions;
	gridOptions =
	{
		columnDefs: columnDefs,
		rowData: null,
		enableSorting: true,
		enableFilter: true,
		rowSelection: 'multiple',
		headerHeight: 50,
		rowHeight: 60,
		enableRangeSelection: true,
		enableStatusBar: false,
		pagination: true,
		tooltipComponent: ImageCellRenderer,
		// rowModelType : 'pagination',
		suppressRowClickSelection: true,
		onGridReady: function () { },
		components: {
			'editFieldRender': EditFieldRender,
			'deleteFieldRender': DeleteFieldRender
		},
		tooltipShowDelay: 0,
		tooltipHideDelay: 200000,
	};


	document.addEventListener('DOMContentLoaded', function () {
		var gridDiv = document.querySelector('#views');
		new agGrid.Grid(gridDiv, gridOptions);


	});
	$(document).ready(function () {
		createNewDatasource();


	});
	function EditFieldRender() { }
	function DeleteFieldRender() { }

	EditFieldRender.prototype.init = function (params) {
		this.eGui = document.createElement('div');
		var text = '';
		if (params.value)
			text = '<button id="" onclick="handleClickEdit(\'' + params.value + '\')">Edit</button>'
		this.eGui.innerHTML = text;
	};
	EditFieldRender.prototype.getGui = function () {
		return this.eGui;
	};

	DeleteFieldRender.prototype.init = function (params) {
		this.eGui = document.createElement('div');
		var text = '';
		if (params.value)
			text = '<button id="modalDelete" onclick="handleClickDelete(\'' + params.value + '\')">Delete</button>'
		this.eGui.innerHTML = text;
	};
	DeleteFieldRender.prototype.getGui = function () {
		return this.eGui;
	};

	function callModal() {

	}

	//--------------------------------------------------

	// document.addEventListener('focusin', function (e) {
	// 	e.target.type = 'date';
	// });

	// document.addEventListener('focusout', function (e) {
	// 	e.target.type = '';
	// });

//-------------------------------------------------------

</script>

<body>
	<div class="col-md-12" style="height: 50px;">

	</div>
	<div id="loader" class="overlay display-none">
		<img class="img" src="images/loader.gif" />
	</div>
	<style>
		/* loader start */
		.display-none {
			display: none !important;
		}

		.overlay {
			position: fixed;
			margin: 0px;
			padding: 0px;
			right: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			opacity: 0.8;
		}

		.img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}

		.modal-content::-webkit-scrollbar {
			display: none;
		}

		/* loader end */
	</style>

	</div>
	<div id="alert-container">
		<div id="alert-box">
			<p id="alert-message"></p>
			<button id="alert-ok-button">OK</button>
		</div>
	</div>
	<!-- <p>Total workers :</p> -->

	<div class="col-md-12" id="main" style="height: 520px; ">
		<div class="col-md-12">
			<div class="col-md-10" style="text-align: end; padding-top: 16px;
			color: #5d5d5d; font-family: 'Poppins', sans-serif; ">
				<p id="totalworker"></p>
			</div>

			<div class="col-md-2" style="text-align: end; padding-right: 0;">
				<button class="buttonadd" id="addWorkerButton">Add</button>
			</div>
		</div>
		<div id="views" class="col-md-12 ag-theme-balham"></div>
	</div>

	<!-- Modal markup -->
	<div id="addWorkerModal" class="modal">
		<div class="modal-content" style="height: 100%; overflow: scroll;">

			<%# <p>Modal content goes here.</p> %>
				<div id="create_user" style="max-width:500px; margin:auto">
					<div class="col-md-12 top">
						<div class="col-md-6 heading">
							<p id='formType'></p>
						</div>
						<div class="col-md-6 heading">
							<span class="close">&times;</span>
						</div>

					</div>
					<div id="firstStep">
						<div class="col-md-12">
							<div class="progressbar-wrapper">
								<ul class="progressbar">
									<li class="active"></li>
									<li class="activelast" style="padding-left: 190px;"></li>
								</ul>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-6 nameleft">
								<div class="col-md-12 name" style="margin-bottom: 1px;">
									<p class="fieldtitle" style="
								font-family: 'Poppins', sans-serif; font-size: 13px;
							">Name</p>
									<input class="input-field nameborder" id="name" type="text" name="name">
									<span id="name_span" style="color:#FF3C5F; font-size: 12px;"></span>
								</div>
								<div class="col-md-12 firstname" style="margin-bottom: 1px;">
									<p class="fieldtitle" style="
								font-family: 'Poppins', sans-serif; font-size: 13px;
							">First Name</p>
									<input class="input-field firstnameborder" id="first_name" type="text"
										name="first_name">
									<span id="first_name_span" style="color:#FF3C5F; font-size: 12px;"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div id="profile-container">
									<image id="profileImage"
										src="https://static.thenounproject.com/png/897141-200.png" />
								</div>
								<input id="imageUpload" type="file" placeholder="Photo" required="" capture>
								<div class="plusicon">
									<a href="#">
										<span class="glyphicon glyphicon-plus"></span>
									</a>
								</div>
								<script>

									$("#profileImage").click(function (e) {
										$("#imageUpload").click();
									});

									function fasterPreview(uploader) {
										if (uploader.files && uploader.files[0]) {
											$('#profileImage').attr('src',
												window.URL.createObjectURL(uploader.files[0]));
										}
									}

									$("#imageUpload").change(function () {
										fasterPreview(this);
									});

								</script>
								<style>
									.plusicon {
										background: #42aaef;
										width: 20px;
										height: 20px;
										border-radius: 50%;
										padding: 3px 0px 0px 5px;
										margin-left: 83px;
										margin-top: -16px;
									}

									.glyphicon {
										position: relative;
										top: 1px;
										color: white;
										display: inline-block;
										font-family: 'Glyphicons Halflings';
										font-style: normal;
										font-size: 12px;
										font-weight: 100;
										line-height: 1;
										-webkit-font-smoothing: antialiased;
										-moz-osx-font-smoothing: grayscale;
									}

									#imageUpload {
										display: none;
									}

									#profileImage {
										cursor: pointer;
									}

									#profile-container {
										width: 100px;
										height: 100px;
										margin-top: 25px;
										border: 2px solid #Dadada;
										overflow: hidden;
										-webkit-border-radius: 50%;
										-moz-border-radius: 50%;
										-ms-border-radius: 50%;
										-o-border-radius: 50%;
										border-radius: 50%;
									}

									#profile-container img {
										width: 100%;
										height: 100%;
									}
								</style>
							</div>
						</div>
						<div class="col-md-12 email" style="margin-bottom: 1px;">
							<p class="fieldtitle" style="
						font-family: 'Poppins', sans-serif; font-size: 13px;
					">Email</p>
							<input class="input-field emailborder" id="email" type="text" name="email">
							<span id="email_span" style="color:#FF3C5F; font-size: 12px;"></span>

						</div>
						<div class="col-md-12 phone" style="margin-bottom: 1px;">
							<p class="fieldtitle" style="
						font-family: 'Poppins', sans-serif; font-size: 13px;
					">Phone Number</p>
							<input class="input-field phoneborder" id="phone_number" type="text" name="phone_number">
							<span id="phone_number_span" style="color:#FF3C5F; font-size: 12px;"></span>

						</div>
						<div class="col-md-12">
							<div class="col-md-6 enter" style="margin-bottom: 1px;">
								<p class="fieldtitle" style="
							font-family: 'Poppins', sans-serif; font-size: 13px;
						">Entreprise</p>
								<select class="entreprise" name="entreprise" id="entreprise"
									onchange="changeEntreprise(this.value)">
									<option hidden></option>
								</select>
								<span id="entreprise_span" style="color:#FF3C5F; font-size: 12px;"></span>

							</div>
							<div class="col-md-6 dept" style="margin-bottom: 1px;">
								<p class="fieldtitle" style="
							font-family: 'Poppins', sans-serif; font-size: 13px;
						">Department</p>
								<select class="department" name="department" id="department"
									onchange="changeDepartment(this.value)">
									<option hidden></option>
								</select>
								<span id="department_span" style="color:#FF3C5F; font-size: 12px;"></span>
							</div>
						</div>
						<div class="col-md-12 team">
							<p class="fieldtitle" style="
						font-family: 'Poppins', sans-serif; font-size: 13px;
					">Team</p>
							<select class="teamborder" name="team" id="team">
								<option hidden></option>
							</select>
						</div>
						<div class="col-md-12">
							<div class="col-md-6 desig" style="margin-bottom: 1px;">
								<p class="fieldtitle" style="
							font-family: 'Poppins', sans-serif; font-size: 13px;
						">Designation</p>
								<select class="designation" name="designation" id="designation">
									<option hidden></option>
								</select>
								<span id="designation_span" style="color:#FF3C5F;"></span>
							</div>
							<div class="col-md-6 datewidth" style="margin-bottom: 1px;">
								<p class="fieldtitle" style="
							font-family: 'Poppins', sans-serif; font-size: 13px;
						">Date of joining</p>
								<input class="date" type="date" id="date_of_joining" name="date_of_joining">
								<span id="date_of_joining_span" style="color:#FF3C5F; font-size: 12px;"></span>

							</div>
						</div>
						<p class="nextButton" id="formButtonType"></p>
					</div>

					<div id="lastStep" style="height: 100%;">
						<div class="col-md-12 next">
							<div class="progressbarnext-wrapper">
								<ul class="progressbar">
									<li class="active" onclick="backToFirstStep()"></li>
									<li class="active" style="padding-left: 190px;"></li>
								</ul>
							</div>
							<style>
								.progressbar li:after {
									width: 214px;
									height: 2px;
									content: '';
									position: absolute;
									background-color: #7d7d7d;
									top: 12px;
									left: -9%;
									z-index: 0;
								}
							</style>
						</div>
						<div class="col-md-12 contract">
							<p class="fieldtitle" style="font-family: 'Poppins', sans-serif; font-size: 13px;">Type
								of
								contract</p>
							<select class="teamborder" name="type_of_contract" id="type_of_contract"
								onchange="handleChange(this.value,'contract')">
								<option hidden></option>
								<option value="Stipend">Stipend</option>
								<option value="Contructual">Contructual</option>
								<option value="Salaried">Salaried</option>
							</select>
							<span id="type_of_contract_span" style="color:#FF3C5F;"></span>
						</div>
						<div class="col-md-12 endcontract" id="endContractDate">
						</div>
						<div class="col-md-12 typofworkerandtime" style="margin-bottom: 1px;">
							<div class="col-md-6 enter">
								<p class="fieldtitle" style="
										font-family: 'Poppins', sans-serif; font-size: 13px;
									">Type of worker</p>
								<select class="entreprise" name="type_of_worker" id="type_of_worker"
									onchange="handleChange(this.value,'worker')">
									<option hidden></option>
									<option value="Worker">Worker</option>
									<option value="Employee">Employee</option>
									<option value="Framework">Framework</option>
								</select>
								<span id="type_of_worker_span" style="color:#FF3C5F;"></span>
							</div>
							<div class="col-md-6 workingTime">
								<p class="fieldtitle" style="
										font-family: 'Poppins', sans-serif; font-size: 13px;
									">Working time</p>
								<input class="department" name="working_time" id="working_time" type="text">

								</input>
							</div>
						</div>
						<div class="col-md-12 role" style="margin-bottom: 1px;">
							<p class="fieldtitle" style="
									font-family: 'Poppins', sans-serif; font-size: 13px;
								">Role</p>
							<select class="teamborder" id="role" name="role">
								<option hidden></option>
							</select>
							<span id="role_span" style="color:#FF3C5F;"></span>
						</div>
						<div class="col-md-12 leave" id="leaveid"
							style="padding-right: 30px !important; padding-left: 30px !important; margin-bottom: 6px;">
						</div>
						<p class="nextButton" id="submit"></p>

						<style>
							.contract {
								padding-right: 30px !important;
								padding-left: 30px !important;
								margin-bottom: 20px;
								margin-top: 20px;
							}

							.endcontract {
								padding-right: 30px !important;
								padding-left: 30px !important;
								margin-bottom: 20px;
							}

							.typofworker {
								margin-bottom: 20px;
							}

							.typofworkerandtime {
								margin-bottom: 20px;
							}

							.workingTime {
								padding-left: 5px;
							}

							.role {
								padding-right: 30px !important;
								padding-left: 30px !important;
								margin-bottom: 20px;
							}

							.contractdate {
								width: 100%;
								padding: 8px 10px 8px 10px;
								border-radius: 6px;
								border: 1px solid #dadada;
							}

							.check1 {
								margin-right: 7px !important;
							}

							.check2 {
								margin-right: 7px !important;
							}

							.checkboxcheck {
								padding-right: 50px;
								color: #9e9e9e;
								font-weight: 600;
							}

							.btn:hover {
								color: white;
							}
						</style>
					</div>
				</div>
		</div>
	</div>

	<div id="modal-container-delete">
		<div id="modal-overlay"></div>
		<div id="modal">
			<h2>Delete Confirmation</h2>
			<p>Are you sure you want to delete</p>
			<button id="" onClick="deleteConfirm()">Delete</button>
			<button id="" onClick="deleteClose()">Close</button>
		</div>
	</div>

	<script>

		function handleChange(params, id) {
			// console.log("params,id=======>", params, id)
			if (id == "contract") {
				if (params == "Contructual") {
					document.getElementById("endContractDate").innerHTML = '<p class="fieldtitle" style=" font-size: 13px; ">End contract date</p><input class="contractdate" type="date" id="end_contract_date" name="end_contract_date">'
				} else { document.getElementById("endContractDate").innerHTML = '' }
			}
			if (id == "worker") {
				if (params == "Worker") {
					document.getElementById("leaveid").innerHTML = '<p class="fieldtitlenextleaves" style="font-family: "Poppins", sans-serif; font-size: 14px; font-weight: 500; color: #4F5A6A;">Types of leaves</p><input type="checkbox" id="cl" class="check1" name="cl" value="1"><label class="checkboxcheck" for="vehicle1"> CL</label><input type="checkbox" id="sl" class="check2" name="sl" value="1"><label for="vehicle1" style="font-weight: 600; color: #9e9e9e;"> SL</label>'
				}
				else if (params == "Employee") {
					document.getElementById("leaveid").innerHTML = '<p class="fieldtitlenextleaves" style="font-family: "Poppins", sans-serif; font-size: 14px; font-weight: 500; color: #4F5A6A;">Types of leaves</p><input type="checkbox" id="cl" class="check1" name="cl" value="1"><label class="checkboxcheck" for="vehicle1"> CL</label><input type="checkbox" id="sl" class="check2" name="sl" value="1"><label for="vehicle1" style="font-weight: 600; color: #9e9e9e;"> SL</label>'
				}
				else if (params == "Framework") {
					document.getElementById("leaveid").innerHTML = '<p class="fieldtitlenextleaves" style="font-family: "Poppins", sans-serif; font-size: 14px; font-weight: 500; color: #4F5A6A;">Types of leaves</p><input type="checkbox" id="cl" class="check1" name="cl" value="1"><label class="checkboxcheck" for="vehicle1"> CL</label>'
				}

			}

		}


		// Get the modal and the button
		var addWorkermodal = document.getElementById("addWorkerModal");
		var btn = document.getElementById("addWorkerButton");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal
		btn.onclick = function () {
			resetFromDataVeriable();
			document.getElementById("formType").innerHTML = '<h2 class="title" style="font-size:18px; color:#334D6E; margin-top: 5px;">New Worker</h2>'
			document.getElementById("formButtonType").innerHTML = '<button type="button" onClick="next_button()"  class="btn" style="margin-top: 20px;">Next</button>'
			addWorkermodal.style.display = "block";
			document.getElementById("submit").innerHTML = '<button type="button" onClick="user_create()" class="btn" style="margin-top: 20px;">Add</button>'
			getEntrepriseData();
			getDepartmentData();
			getTeamData();
			getDesignationData();
			getRoleData();
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function () {
			addWorkermodal.style.display = "none";
			resetFromDataVeriable();
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function (event) {
			if (event.target == modal) {
				addWorkermodal.style.display = "none";
			}
		}
		var lastStep = document.getElementById("lastStep");
		lastStep.style.display = "none";

		function next_button(params) {
			setFormData();
			$('#firstStep input').each(function () {
				if (this.value == "" && this.name != "") {
					document.getElementById(`${this.id}_span`).innerText = 'Invalid Field'
					// console.log(`${this.id} can't be empty`)
				}
				// a.push($(this).attr('name'));
			});

			$('#firstStep select').each(function () {
				if (this.value == "" && this.name != "team") {
					// console.log("this==========================",this)
					document.getElementById(`${this.id}_span`).innerText = 'Invalid Field'
				}
			}
			);

			if ((createFormData.name != "") && (createFormData.first_name != "") && (createFormData.email != "") && (createFormData.phone_number != "") && (createFormData.entreprise != "") && (createFormData.designation != "") && (createFormData.department != "") && (createFormData.date_of_joining != "")) {
				var firstStep = document.getElementById("firstStep");
				firstStep.style.display = "none";
				var lastStep = document.getElementById("lastStep");
				lastStep.style.display = "block";
			}

		}
		function backToFirstStep(params) {
			var lastStep = document.getElementById("lastStep");
			lastStep.style.display = "none";
			var firstStep = document.getElementById("firstStep");
			firstStep.style.display = "block";
		}
	</script>
	<script>


		function getEntrepriseData(user_data) {
			$('#loader').removeClass('display-none')
			if (user_data) {
				var select_entreprise_id = user_data["entreprise_id"]
			}
			$.ajax({
				type: "get",
				url: "/entreprise",
				success: function (msg) {
					var data = msg;
					var select_entreprise = document.getElementById("entreprise");
					for (var i = 0; i < data.data.length; i++) {
						var el = document.createElement("option");
						el.text = data.data[i].name
						el.value = data.data[i].id
						select_entreprise.add(el);
					}
					$('#entreprise').val(select_entreprise_id);
					$('#loader').addClass('display-none')
				}
			});
		}

		function changeEntreprise(params) {

		}

		function getDepartmentData(user_data) {
			document.getElementById("department").innerHTML = "<option hidden></option>"
			$('#loader').removeClass('display-none')
			if (user_data) {
				var select_department_id = user_data["department_id"]
			}
			$.ajax({
				type: "get",
				// url: `/department?org_id=${params}`,
				url: `/department`,
				success: function (msg) {
					var data = msg;
					var select_department = document.getElementById("department");
					for (var i = 0; i < data.data.length; i++) {
						var el = document.createElement("option");
						el.text = data.data[i].name
						el.value = data.data[i].id
						select_department.add(el);
					}
					$('#department').val(select_department_id);
					$('#loader').addClass('display-none')
				}
			});
		}


		function getTeamData(user_data) {
			document.getElementById("team").innerHTML = "<option hidden></option>"
			if (user_data) {
				var select_team_id = user_data["team_id"]
			}
			$.ajax({
				type: "get",
				// url: `/team?filter={"org_id":${params}}`,
				url: `/team`,
				success: function (msg) {
					var data = msg;
					var select_team = document.getElementById("team");
					for (var i = 0; i < data.data.length; i++) {
						var el = document.createElement("option");
						el.text = data.data[i].name
						el.value = data.data[i].id
						select_team.add(el);
					}
					$('#team').val(select_team_id);
				}
			});
		}

		function getDesignationData(user_data) {
			document.getElementById("designation").innerHTML = "<option hidden></option>"
			if (user_data) {
				var select_designation_id = user_data["designation_id"]
			}
			$.ajax({
				type: "get",
				// url: `/designation?filter={"div_id":${params}}`,
				url: `/designation`,
				success: function (msg) {
					var data = msg;
					var select_designation = document.getElementById("designation");
					for (var i = 0; i < data.data.length; i++) {
						var el = document.createElement("option");
						el.text = data.data[i].name
						el.value = data.data[i].id
						select_designation.add(el);
					}
					$('#designation').val(select_designation_id);
				}
			});
		}


		function changeDepartment(params) {

		}

		function user_create() {
			console.log("createformdata********************************", formData)
			setFormData();
			Object.keys(createFormData).forEach(key=>{
				formData.append(key, createFormData[key])
			})
			$.ajax({
				type: "post",
				url: '/create_user',
				data: formData,
				processData: false,
				contentType: false,
				success: function (msg) {
					data = msg
					alert(msg.message);
					createNewDatasource();
					addWorkermodal.style.display = "none";
					resetFromDataVeriable();
				}
			});
			// alert("User Created");
		}
		function deleteClose() {
			$('#modal-container-delete').fadeOut();

		}
		function deleteConfirm() {
			$.ajax({
				type: "delete",
				url: `/delete_user?id=${deleteId}`,
				success: function (msg) {
					data = msg;
					alert(msg.message);
					createNewDatasource();
				}
			});
			deleteClose();
		}

		function getRoleData(user_data) {
			if (user_data) {
				var select_role_id = user_data["role_id"]
			}
			$.ajax({
				type: "get",
				url: "/role",
				success: function (msg) {
					var data = msg;
					var select_role = document.getElementById("role");
					for (var i = 0; i < data.data.length; i++) {
						var el = document.createElement("option");
						el.textContent = data.data[i].name
						el.value = data.data[i].id
						select_role.add(el);
					}
					$('#role').val(select_role_id);
				}
			});
		}


		function editValueSet(data) {
			getEntrepriseData(data);
			getDepartmentData(data);
			getTeamData(data);
			getDesignationData(data);
			getRoleData(data);
			for (let key in createFormData) {
				createFormData[key] = data[key];
			}
			handleChangeEditClSlContract(createFormData["type_of_contract"], createFormData["type_of_worker"]);

			var arr = ["cl", "sl"]
			arr.map(item => {
				if (createFormData[item] == true) {
					createFormData[item] = 1
					document.getElementById(item).checked = true;
				} else {
					createFormData[item] = 0
				}
			});
			Object.keys(createFormData).map(item => {
				if (document.getElementById(item)) {
					document.getElementById(item).value = createFormData[item];
				}
			})
			document.getElementById("formType").innerHTML = "<p >EDIT FORM</p>"
			document.getElementById("formButtonType").innerHTML = '<button type="submit" onClick="user_edit()"  class="btn">Update</button>'
			$("#department").attr("onclick", "");
			document.getElementById("formButtonType").innerHTML = '<button type="button" onClick="next_button()"  class="btn" style="margin-top: 20px;">Next</button>'
			addWorkermodal.style.display = "block";
			document.getElementById("submit").innerHTML = '<button type="submit" onClick="user_edit()"  class="btn">Update</button>'


			if (createFormData["image"] != '') {
				document.getElementById("profileImage").src = createFormData["image"]
			} else {
				document.getElementById("profileImage").src = "https://static.thenounproject.com/png/897141-200.png"
			}

		}

		function handleChangeEditClSlContract(params, id) {
			if (params == "Contructual") {
				document.getElementById("endContractDate").innerHTML = '<p class="fieldtitle" style=" font-size: 13px; ">End contract date</p><input class="contractdate" type="date" id="end_contract_date" name="end_contract_date">'
			} else { document.getElementById("endContractDate").innerHTML = '' }

			if (id == "Worker") {
				document.getElementById("leaveid").innerHTML = '<p class="fieldtitlenextleaves" style="font-family: "Poppins", sans-serif; font-size: 14px; font-weight: 500; color: #4F5A6A;">Types of leaves</p><input type="checkbox" id="cl" class="check1" name="cl" value="1"><label class="checkboxcheck" for="vehicle1"> CL</label><input type="checkbox" id="sl" class="check2" name="sl" value="1"><label for="vehicle1" style="font-weight: 600; color: #9e9e9e;"> SL</label>'
			}
			else if (id == "Employee") {
				document.getElementById("leaveid").innerHTML = '<p class="fieldtitlenextleaves" style="font-family: "Poppins", sans-serif; font-size: 14px; font-weight: 500; color: #4F5A6A;">Types of leaves</p><input type="checkbox" id="cl" class="check1" name="cl" value="1"><label class="checkboxcheck" for="vehicle1"> CL</label><input type="checkbox" id="sl" class="check2" name="sl" value="1"><label for="vehicle1" style="font-weight: 600; color: #9e9e9e;"> SL</label>'
			}
			else if (id == "Framework") {
				document.getElementById("leaveid").innerHTML = '<p class="fieldtitlenextleaves" style="font-family: "Poppins", sans-serif; font-size: 14px; font-weight: 500; color: #4F5A6A;">Types of leaves</p><input type="checkbox" id="cl" class="check1" name="cl" value="1"><label class="checkboxcheck" for="vehicle1"> CL</label>'
			}

		}

		function setFormData() {
			$('#addWorkerModal input').each(function () {
				if ($(this).attr('name') in createFormData) { createFormData[$(this).attr('name')] = $(this).val() }
			});
			let a = []
			$('#addWorkerModal select').each(function () {
				a.push($(this).attr('name'));
			});
			a.map(item => {
				createFormData[item] = $(`#${item}`).find(":selected").val();
			})
			let arr = ["cl", "sl"]
			arr.map(item => {
				createFormData[item] = $(`#${item}`).is(":checked") ? 1 : 0
			})
			if (createFormData["type_of_contract"] == "Stipend" || createFormData["type_of_contract"] == "Salaried") {
				createFormData["end_contract_date"] = ''
			}
		}


		function resetFromDataVeriable() {
			for (let key in createFormData) {
				createFormData[key] = "";
			}
			Object.keys(createFormData).map(item => {
				if (document.getElementById(item)) {
					document.getElementById(item).value = createFormData[item];
				}
			})
			document.getElementById("entreprise").innerHTML = "<option hidden></option>"
			document.getElementById("department").innerHTML = "<option hidden></option>"
			document.getElementById("team").innerHTML = "<option hidden></option>"
			document.getElementById("designation").innerHTML = "<option hidden></option>"
			var firstStep = document.getElementById("firstStep");
			firstStep.style.display = "block";
			var lastStep = document.getElementById("lastStep");
			lastStep.style.display = "none";
		}
		function user_edit() {
			setFormData();
			$.ajax({
				type: "put",
				url: '/edit_user',
				data: createFormData,
				success: function (msg) {
					data = msg
					alert(msg.message);
					createNewDatasource();
					addWorkermodal.style.display = "none";
					resetFromDataVeriable();
				}
			});
			// alert("User Updated");
		}
	</script>
	<script>
		window.alert = function (message) {
			// Get the dialog box container and message element
			var dialogBoxContainer = document.getElementById("alert-container");


			var dialogMessageElement = document.getElementById("alert-message");

			// Set the message
			dialogMessageElement.innerHTML = message;

			// Get the OK button and add an event listener
			var dialogOkButton = document.getElementById("alert-ok-button");
			dialogOkButton.addEventListener("click", function () {
				dialogBoxContainer.style.display = "none";
			});

			// Show the dialog box
			dialogBoxContainer.style.display = "flex";
		}
	</script>

	<script>
		const input = document.getElementById("imageUpload");
		// const avatar = document.getElementById("avatar");
		// const textArea = document.getElementById("textAreaExample");

		/*const convertBase64 = (file) => {
			return new Promise((resolve, reject) => {
				const fileReader = new FileReader();
				fileReader.readAsDataURL(file);

				fileReader.onload = () => {
					resolve(fileReader.result);
				};

				fileReader.onerror = (error) => {
					reject(error);
				};
			});
		};

		const uploadImage = async (event) => {
			const file = event.target.files[0];
			const base64 = await convertBase64(file);
			createFormData["image"] = base64;
			// avatar.src = base64;
			// textArea.innerText = base64;
		};

		input.addEventListener("change", (e) => {
			uploadImage(e);
		});*/


		const uploadImage = async (event) => {
			var file =event.target.files[0];
			console.log("file", file)
			formData.append("file_content", file);
			
		};

		input.addEventListener("change", (e) => {
			uploadImage(e);
		});
		
	</script>
</body>